/* @import url(http://fonts.googleapis.com/css?family=Lato:300italic); */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #ff80c0;
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}
/* #c {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 120%;
} */

/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: in 500ms 6s ease-out forwards;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 234, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.2px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s 6.5s infinite;
  animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s 6.5s infinite;
  animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 6.5s infinite;
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s 6.5s infinite;
  animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s 6.5s infinite;
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.text {

  color: black;
  font-size:30px;
  line-height:70px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
.text h1 {
  font-size: 1.4em;
}

@font-face {
  /* 字体名称随意起 */
  font-family: cute_font;
  /*你下载字体所在的位置*/
  src: url('../font/mylove.ttf');
}
@font-face {
  font-family: heart;
  src: url('../font/CupiddeLocke.ttf');
}
@keyframes wordOne {
  0% {color: #ff80c0}
  25% {color: #62b0ff}
  50% {color: #dce833}
  75% {color: #ff7c3e}
  100% {color: aquamarine;}
}
@-webkit-keyframes wordOne {
  0% {color: #ff80c0}
  25% {color: #62b0ff}
  50% {color: #dce833}
  75% {color: #ff7c3e}
  100% {color: aquamarine;}
}
@keyframes wordTwo {
  from {color: #ff80c0}
  15% {color: violet;}
  30% {color: #00ff80}
  45% {color: #48c4ff}
  60% {color: #ffff00}
  75% {color: #ff0080}
  90% {color: #fe5b38}
  to {color: blueviolet;}
}

@-webkit-keyframes wordTwo {
  from {color: #ff80c0}
  15% {color: violet;}
  30% {color: #00ff80}
  45% {color: #48c4ff}
  60% {color: #ffff00}
  75% {color: #ff0080}
  90% {color: #fe5b38}
  to {color: blueviolet;}
}


.textOne {
  float: left;
}

.textTwo {
  float: right;
}

.textOne span{
  animation: 15s wordOne forwards steps(20);
  font-family: cute_font;
  font-size: 1.2em;
  color: aquamarine;
}

.textTwo span{
  animation: 20s wordTwo infinite steps(20);
  font-family: heart;
  color: blueviolet;
  font-size: 1.5em;
}

.iconButton {
  position: fixed;
  bottom: 5%;
  left: 40%;
}
/* .iconBack img{
  width: 4em;
  height: 4em;
}
.iconFront img{
  width: 4em;
  height: 4em;
} */

@-webkit-keyframes rotation{
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
  }
@keyframes rotation{
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes showDog{
  from {width: 0;height: 0}
  to {width: 5em;height: 5em;}
}
@keyframes showDog{
  from {width: 0;height: 0;}
  to {width: 5em;height: 5em;}
}

.iconDog {
  /* animation: 20s showDog forwards;
  -webkit-transform: rotate(360deg);
  animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -webkit-animation: rotation 3s linear infinite;
  -o-animation: rotation 3s linear infinite; */
  -webkit-transform: rotate(360deg);
  animation-name: showDog,rotation;
  animation-duration: 15s,3s;
  animation-timing-function: linear,linear;
  animation-delay: 0s,15s;
  animation-fill-mode: forwards,forwards;
  animation-iteration-count: 1,infinite;
  width: 7em;
  height: 7em;
  border-radius: 3em;
}